# App Setting
APP_NAME=WeaveBI
APP_VERSION=0.0.1
APP_DESCRIPTION=Data analysis dashboard app.
APP_PORT=8000
APP_HOST=0.0.0.0

# POSTGRES CONFIGURATION
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_SERVER=db
POSTGRES_DB=weavebi
POSTGRES_PORT=5432

# REDIS CONFIGURATION
REDIS_HOST=redis
REDIS_PORT=6379

# JWT CONFIGURATION
SECRET=
ALGO=HS256

# LLM SETTINGS
API_KEY=idk
MODEL=gpt-4o-mini

# PROMPTS_SETTINGS
PROMPT_PATH=prompts/prompts.yaml

# OTP SERVICE (MAIL SETTINGS)
MAIL_USERNAME=
MAIL_PASSWORD=''
MAIL_HOSTNAME=smtp.gmail.com
MAIL_PORT=587
MAIL_START_TLS=True
